<div
        class="input {{globalModifier}}"
>
    <label
            for="{{id}}"
            class="input__label {{labelModifier}}"
    >
        {{label}}
    </label>
    <input
            class="input__input {{modifier}}"
            type="{{type}}"
            placeholder="{{placeholder}}"
            name="{{name}}"
            id="{{id}}"
            value="{{value}}"
    />
    {{#if hasError}}
        <div
                class="input__helptext has-error"
        >
            Проверьте значение
        </div>
    {{/if}}
</div>