<div class="chat-list__item">
    {{{avatar}}}
    <div class="chat-list__item--first">
        <span class="chat-list__item--name">{{title}}</span>
        <span class="chat-list__item--time">{{last_message.time}}</span>
    </div>
    <div class="chat-list__item--second">
        {{#if is_you}}
            Вы:
        {{/if}}
        {{last_message.content}}
        {{#if unread_count}}
            <span class="chat-list__item--new-message}">{{unread_count}}</span>
        {{/if}}
    </div>
</div>
