<div class="profile__form-wrapper">
    {{{avatar}}}
    {{{header}}}
    <div
        class="profile__form"
    >
        {{#each fieldsData}}
            <div class="profile__form--row">
                <span class="profile__form--row-label">{{#with (lookup ../fields @index)}}{{label}}{{/with}}</span>
                {{#if ../isEdit}}
                    {{{this}}}
                {{else}}
                    <span class="profile__form--row-value">{{#with (lookup ../fields @index)}}{{value}}{{/with}}</span>
                {{/if}}
            </div>
        {{/each}}
    </div>
    <div class="profile__form--footer">
        {{#if isEdit}}
            {{#each footerEdit}}
                {{{this}}}
            {{/each}}
        {{else}}
            {{#each footer}}
                {{{this}}}
            {{/each}}
        {{/if}}
    </div>
</div>