<div
        class="dialog"
>
    {{#if chat}}
        <div class="dialog--panel">
            {{{avatar}}}
            {{{text}}}
            <div class="dialog--panel__buttons">
                {{{addUserChat}}}
                {{#if isAdd}}
                    {{{modalAddUserChat}}}
                {{/if}}
                {{{deleteUserChat}}}
                {{#if isRemove}}
                    {{{modalDeleteUserChat}}}
                {{/if}}
            </div>
            <span class="dialog--panel-settings"></span>
        </div>
        <div class="dialog--messages" id="dialogMessages">
            {{#each messages}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="dialog--new-message">
            {{{buttonFile}}}
            {{{input}}}
            {{{buttonSend}}}
        </div>
    {{else}}
        {{{notText}}}
    {{/if}}
</div>
