<div
        class="dialog"
>
    {{#if messages}}
        <div class="dialog--panel">
            {{{avatar}}}
            {{{text}}}
            <span class="dialog--panel-settings"></span>
        </div>
        <div class="dialog--messages">
            {{#each messages}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="dialog--new-message">
            {{{buttonFile}}}
            {{{input}}}
            {{{buttonSend}}}
        </div>
    {{else}}
        {{{notText}}}
    {{/if}}
</div>