<div
        class="chat-list"
>
    <div class="chat-list__header">
        <div class="chat-list__profile">
            {{{link}}}
        </div>
        {{{input}}}
    </div>
    <div class="chat-list__body">
        {{#each this.chats}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="chat-list__footer">
        <div>
            {{{addInput}}}
            {{{addButton}}}
        </div>
    </div>
</div>
